$color1: #8b6e58;
$color2: #cd8567;
$color3: #edcfb5;
$color4: #efe7e1;
$font1: "Vogue";
$font2: "sf-pro-display";
// $mobile_devices_min: 320px;
// $mobile_devices_max: 480px;
// $tablets_min: 481px;
// $tablets_max: 768px;
// $laptops_min: 769px;
// $laptops_max: 1024px;
// $desktops_min: 1025px;
// $desktops_max: 1200px;
// $large_screens_min: 1201px;
