<footer class="footer">
  <div class="footer_links">
    <h1 class="footer_logo">KYLIE</h1>
    <div class="footer_manu_link">
      <div>
        <ul>
          <li><h1>FAQ</h1></li>
          <li>Terms and Conditiond</li>
          <li>Cookies Setting</li>
        </ul>
      </div>
      <div>
        <ul>
          <li><h1>Shipping</h1></li>
          <li>Privacy Policy</li>
          <li>Cookies Policy</li>
        </ul>
      </div>
      <div>
        <ul>
          <li><h1>Contact</h1></li>
          <li>Accessibility Policy</li>
          <li>Terms of Use</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_newsletters">
    <div class="icons">
      <i class="iconify" data-icon="entypo-social:facebook"></i>
      <i class="iconify" data-icon="entypo-social:instagram-with-circle"></i>
      <i class="iconify" data-icon="entypo-social:twitter"></i>
    </div>
    <div class="p">
      <h1>Newsletter</h1>
      <p>Subscribe to receive updates access to exclusive deals, and more.</p>
      <input type="email" placeholder="Enter you email" />
    </div>
  </div>
</footer>
